@import "variable";
.Custom-btn {
  background: $pink-text !important;
  padding: 25px 30px;
  border-radius: 5px;
  font-weight: 700;
}

.custom-title-div {
  width: 1180px;
  text-align: center;
  margin: auto;
  p {
    margin-top: 20px;
  }
}

.custom-title {
  line-height: 44px;
  span {
    color: $pink-text !important;
  }
}
.user-content {
  margin-left: -35px;
}

.new-btn {
  padding: 25px 65px;
}
