@import "variable";
.Custom-btn {
  background: $pink-text !important;
  padding: 25px 30px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.new-color {
  color: $pink-text;
}

.fristInfo {
  font-size: 18px;
  line-height: 16px;
}

.up-arrow {
  padding: 14px 15px;
  background: $pink-text;
}

.arrow-reverse {
  transform: rotate(180deg);
}
.floating-banner {
  background-color: $banner-color;
  left: 45%;
  transform: translateX(-40%);
  bottom: 6%;
  .floating-content-container {
    padding: 40px;
    h3 {
      font-size: 28px;
      line-height: 34px;
      width: 305px;
    }
    p {
      width: 305px;
      font-size: 16px;
      margin-top: 10px;
      line-height: 26px;
    }
  }
}
.copyright {
  p {
    color: rgba($color: $dark-text, $alpha: 0.2);
  }
}
.custom-title-div {
  width: 1180px;
  text-align: center;
  margin: auto;
  p {
    margin-top: 20px;
  }
}

.custom-title {
  span {
    color: $pink-text !important;
  }
}

.new-btn {
  padding: 25px 65px;
}

.accodination-container {
  margin-top: 60px;
}

.acodination-actual {
  padding: 30px;
  h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
}

.accodination-dropdown {
  padding: 20px 30px;
  border-color: $pink-text;
  .fristInfo {
    color: $pink-text;
  }
  .accodination-para {
    font-size: 16px;
    line-height: 26px;
  }
}

.cross-arrow {
  transform: rotate(44deg);
}

.new-floating-banner {
  bottom: -28px;
}

@media screen and (max-width: 639px) {
  .accodination-container {
    margin-top: 4px;
  }
  .floating-banner {
    bottom: 3%;
    width: 300px;
    left: 45%;
    transform: translateX(-45%);
    .floating-content-container {
      padding: 20px;
      h3 {
        font-size: 20px;
        line-height: 26px;
      }
      h3,
      p {
        width: auto;
      }
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  .copyright {
    padding: 15px;
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .acodination-actual {
    padding: 20px;
  }
  .mobile-accodination {
    margin-top: 60px;
    padding: 0 15px;
  }
  .accodination-dropdown {
    padding: 20px;
  }
  .custom-title-div {
    width: auto;
    p {
      margin-top: 10px;
    }
  }
  .button-custom {
    margin-top: 20px;
  }
  .mobile-responsive {
    padding: 0 30px 30px 30px;
    h3 {
      font-size: 22px;
      line-height: 30px;
    }
  }
  footer {
    .white-footer {
      padding: 60px 15px;
    }
    .acodination-actual {
      padding: 20px 20px 10px;
    }
  }

  .new-btn {
    padding: 16px 25px;
  }
}
@media screen and (max-width: 1535px) {
  .custom-title-div {
    width: auto;
  }
  .ceo-saying {
    width: auto;
  }
  .level-para {
    padding: 0;
  }
  .clint-say {
    width: auto;
  }
  .ceo-background {
    padding: 0 0 50px;
  }
  footer {
    li {
      text-align: left;
    }
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .custom-title-div {
    width: auto;
    p {
      margin-top: 10px;
    }
  }
  .floating-banner {
    left: 50%;
    transform: translateX(-50%);
    bottom: 4%;
    .floating-content-container {
      h3 {
        font-size: 24px;
        line-height: 28px;
      }
      p {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  .copyright {
    padding: 20px;
  }
  footer {
    .white-footer {
      padding: 60px 15px;
    }
    .acodination-actual {
      padding: 20px 20px 10px;
    }
  }
  .mobile-accodination {
    margin-top: 60px;
    padding: 0 15px;
  }
  .accodination-container {
    margin-top: 20px;
  }
  .acodination-actual,
  .accodination-dropdown {
    padding: 20px;
  }
  .level-product {
    padding: 60px 10px 430px;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .floating-banner {
    bottom: 0;
  }
  .product-menction {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .new-btn {
    padding: 15px 50px;
  }
  .floating-banner {
    bottom: -2%;
    .floating-content-container {
      h3 {
        font-size: 26px;
        line-height: 28px;
      }
    }
  }
  footer {
    .white-footer {
      padding: 60px 15px;
    }
    .acodination-actual {
      padding: 20px 20px 10px;
    }
  }
  .copyright {
    padding: 20px;
  }
  .pink-footer {
    padding: 60px 15px;
  }
  .mobile-accodination {
    margin-top: 60px;
    padding: 0 15px;
  }
  .accodination-container {
    margin-top: 20px;
  }
  .acodination-actual,
  .accodination-dropdown {
    padding: 20px;
  }
  .actual-container {
    padding: 60px 10px 10px;
    margin: 0 5px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .new-btn {
    padding: 15px 18px;
  }
  .floating-banner {
    bottom: 5%;
    left: 5%;
    transform: translateX(0%);
    .floating-content-container {
      padding: 20px;
      gap: 20px;
      h3 {
        font-size: 24px;
        line-height: 26px;
      }
      p {
        font-size: 14px;
        margin-top: 6px;
        line-height: 20px;
      }
    }
  }
  .content-box-makeup {
    padding-bottom: 20px;
  }
  .pink-footer,
  .white-footer {
    padding: 60px 20px;
  }
  .copyright {
    padding: 20px;
  }

  .mobile-accodination {
    margin-top: 60px;
    padding: 0 40px;
  }
  .accodination-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 389px) {
  .Custom-btn {
    font-size: 12px;
    line-height: 18px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .ceo-saying {
    font-size: 12px;
    line-height: 20px;
  }
  .accodination-dropdown {
    li {
      font-size: 12px;
      line-height: 22px;
    }
  }
  footer {
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
