@import "variable";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $dark-text;
}

.container-div {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1535px) {
    width: auto;
  }
}

h2 {
  font-size: 50px;
}

p {
  font-size: 28px;
  font-weight: 400;
  line-height: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

button {
  font-size: 20px;
  line-height: 16px;
}

.input-search {
  background-color: rgba($color: $dark-text, $alpha: 0.05);
  color: $dark-text;
  width: 940px;
  padding: 10px 40px;
}
::placeholder {
  color: $dark-text;
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .mobile-nav {
    width: 100%;
    background-color: $pink-text;
    left: -100%;
    top: 59px;
    transition: 0.2s;
    ul {
      a,
      li {
        display: block;
        width: 100%;
      }
      li {
        color: #fff;
      }
    }
  }
  .mobile-nav.active {
    left: 0;
  }
}

.image-trio {
  margin-top: 60px;
}

.header-l-image {
  z-index: -2;
  left: 18.5%;
  bottom: 0;
}

.header-r-image {
  right: 18.5%;
  z-index: -2;
  bottom: 0;
}

.container-users {
  padding: 15px 20px;
}

.user {
  position: relative;
  &:nth-child(2) {
    right: 10px;
  }
  &:nth-child(3) {
    right: 20px;
  }
  &:nth-child(4) {
    right: 30px;
  }
  &:nth-child(5) {
    right: 40px;
  }
  &:nth-child(6) {
    right: 50px;
  }
}
